<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csci.cscipm.module.sys.dao.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.csci.cscipm.module.sys.model.Resource">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="parent_code" property="parentCode"/>
        <result column="parent_codes" property="parentCodes"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="url" property="url"/>
        <result column="num" property="num"/>
        <result column="levels" property="levels"/>
        <result column="ismenu" property="ismenu"/>
        <result column="tips" property="tips"/>
        <result column="status" property="status"/>
        <result column="isopen" property="isopen"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, parent_code, parent_codes, name, icon, url, num, levels, ismenu, tips, status, isopen
    </sql>
    <!-- 查询菜单列表 -->
    <select id="getResourceList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_resource where ismenu = ${@com.csci.cscipm.core.constant.CsciConstant@ISMENU} and status =
        ${@com.csci.cscipm.core.constant.CsciConstant@MENU_STATUS_NORMAL}
    </select>

</mapper>
